<div class="content-form">
    <h3>Bir Yorum Yazın</h3>
    <form method="post">
        <input type="hidden" placeholder="Kulanıcı Adı:" name="Blogid" value="@ViewBag.deger" />
        <input type="text" placeholder="Kulanıcı Adı:" name="KulaniciAdi" required />
        <input type="text" placeholder="Mail Adresi:" name="Mail" required />
        <textarea placeholder="Yorum:" name="Yorum"></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>
